/*按钮*/
/*默认样式*/
.i_btn{
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff, #fff);
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}
.i_btn:hover,
.i_btn.i_active{
    background-color: #e6e6e6;
    background-image: linear-gradient(to bottom, #e6e6e6, #e6e6e6);
    color: #000;
}
.i_btn.i_active{
    color: #000000;
    font-weight: bold;
    cursor: default;
}
.i_btn.i_disable{
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff, #fff);
    color: #909090;
    cursor: default;
}

.i_text{
    border: 1px solid #cccccc;
    padding: 4px 2px 5px;
}

.i_select{
    border: 1px solid #cccccc;
    padding: 3px;
}


/*bootstrap样式*/
.i_bootstrap .i_btn{
    background-color: #e6e6e6;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    border: 1px solid #ccc;
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #b3b3b3;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-left: -1px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #333;
}
.i_bootstrap .i_btn:hover,
.i_bootstrap .i_btn.i_active{
    background-image: linear-gradient(to bottom, #e6e6e6, #e6e6e6);
    transition: background-position 0.5s linear 0s;
    color: #000;
}
.i_bootstrap .i_btn.i_disable{
    background-color: #e6e6e6;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    color: #909090;
}

.i_bootstrap .i_text{
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.i_bootstrap .i_select{
    border-radius: 4px;
}

/*metro样式*/
.i_metro .i_btn{
    background-color: #333333;
    background-image: linear-gradient(to bottom, #333333, #333333);
    border: none;
    padding: 7px 12px;
    color: #fff;
}
.i_metro .i_btn:hover,
.i_metro .i_btn.i_active{
    background-color: #777777;
    background-image: linear-gradient(to bottom, #777777, #777777);
}
.i_metro .i_btn.i_disable{
    background-color: #909090;
    background-image: linear-gradient(to bottom, #909090, #909090);
    color: #e6e6e6;
}

.i_metro .i_text{
    border: 2px solid #333333;
    padding: 4px 2px 5px;
}
.i_metro .i_text:focus{
    border: 2px solid #777777;
}

.i_metro .i_select{
    border: 2px solid #333333;
}


/*颜色定义 -- blue*/
.i_blue .i_btn{
    border: 1px solid #267499;
}
.i_blue .i_btn:hover,
.i_blue .i_btn.i_active{
    background-color: #67bce6;
    background-image: linear-gradient(to bottom, #67bce6, #67bce6);
}
.i_blue .i_text{
    border: 1px solid #267499;
}

.i_blue .i_select{
    border: 1px solid #267499;
}

.i_blue.i_bootstrap .i_btn,
.i_blue .i_bootstrap .i_btn,
.i_bootstrap .i_blue .i_btn{
    background-color: #67bce6;
    background-image: linear-gradient(to bottom, #ffffff, #67bce6);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #67bce6;
}
.i_blue.i_bootstrap .i_btn:hover,
.i_blue .i_bootstrap .i_btn:hover,
.i_bootstrap .i_blue .i_btn:hover{
    background-image: linear-gradient(to bottom, #67bce6, #67bce6);
    transition: background-position 0.5s linear 0s;
}

.i_blue.i_bootstrap .i_btn:active,
.i_blue .i_bootstrap .i_btn:active,
.i_bootstrap .i_blue .i_btn:active,
.i_blue.i_bootstrap .i_btn.i_active,
.i_blue .i_bootstrap .i_btn.i_active,
.i_bootstrap .i_blue .i_btn.i_active{
    background-image: linear-gradient(to bottom, #0088cc, #67bce6);
    transition: background-position 0.5s linear 0s;
}
.i_blue.i_bootstrap .i_btn.i_disable,
.i_blue .i_bootstrap .i_btn.i_disable,
.i_bootstrap .i_blue .i_btn.i_disable{
    background-color: #67bce6;
    background-image: linear-gradient(to bottom, #ffffff, #67bce6);
    color: #909090;
}

.i_blue.i_metro .i_btn,
.i_blue .i_metro .i_btn,
.i_metro .i_blue .i_btn{
    background-color: #0088cc;
    background-image: linear-gradient(to bottom, #0088cc, #0088cc);
    border: none;
}
.i_blue.i_metro .i_btn:hover,
.i_blue .i_metro .i_btn:hover,
.i_metro .i_blue .i_btn:hover{
    background-color: #267499;
    background-image: linear-gradient(to bottom, #267499, #267499);
}

.i_blue.i_metro .i_btn:active,
.i_blue .i_metro .i_btn:active,
.i_metro .i_blue .i_btn:active,
.i_blue.i_metro .i_btn.i_active,
.i_blue .i_metro .i_btn.i_active,
.i_metro .i_blue .i_btn.i_active{
    background: #005985;
}
.i_blue.i_metro .i_btn.i_disable,
.i_blue .i_metro .i_btn.i_disable,
.i_metro .i_blue .i_btn.i_disable{
    background-color: #67bce6;
    background-image: linear-gradient(to bottom, #67bce6, #67bce6);
}

.i_blue.i_metro .i_text,
.i_blue .i_metro .i_text,
.i_metro .i_blue .i_text{
    border: 2px solid #005985;
}
.i_blue.i_metro .i_text:focus,
.i_blue .i_metro .i_text:focus,
.i_metro .i_blue .i_text:focus{
    border: 2px solid #0088cc;
}

.i_blue.i_metro .i_select,
.i_blue .i_metro .i_select,
.i_metro .i_blue .i_select{
    border: 2px solid #005985;
}


/*颜色定义 -- purple*/
.i_purple .i_btn{
    border: 1px solid #9056bf;
}
.i_purple .i_btn:hover,
.i_purple .i_btn.i_active{
    background-color: #d198ff;
    background-image: linear-gradient(to bottom, #d198ff, #d198ff);
}
.i_purple .i_text{
    border: 1px solid #9056bf;
}

.i_purple .i_select{
    border: 1px solid #9056bf;
}

.i_purple.i_bootstrap .i_btn,
.i_purple .i_bootstrap .i_btn,
.i_bootstrap .i_purple .i_btn{
    background-color: #d198ff;
    background-image: linear-gradient(to bottom, #ffffff, #d198ff);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #d198ff;
}
.i_purple.i_bootstrap .i_btn:hover,
.i_purple .i_bootstrap .i_btn:hover,
.i_bootstrap .i_purple .i_btn:hover{
    background-image: linear-gradient(to bottom, #d198ff, #d198ff);
    transition: background-position 0.5s linear 0s;
}

.i_purple.i_bootstrap .i_btn:active,
.i_purple .i_bootstrap .i_btn:active,
.i_bootstrap .i_purple .i_btn:active,
.i_purple.i_bootstrap .i_btn.i_active,
.i_purple .i_bootstrap .i_btn.i_active,
.i_bootstrap .i_purple .i_btn.i_active{
    background-image: linear-gradient(to bottom, #aa44ff, #d198ff);
    transition: background-position 0.5s linear 0s;
}
.i_purple.i_bootstrap .i_btn.i_disable,
.i_purple .i_bootstrap .i_btn.i_disable,
.i_bootstrap .i_purple .i_btn.i_disable{
    background-color: #d198ff;
    background-image: linear-gradient(to bottom, #ffffff, #d198ff);
    color: #909090;
}

.i_purple.i_metro .i_btn,
.i_purple .i_metro .i_btn,
.i_metro .i_purple .i_btn{
    background-color: #aa44ff;
    background-image: linear-gradient(to bottom, #aa44ff, #aa44ff);
    border: none;
}
.i_purple.i_metro .i_btn:hover,
.i_purple .i_metro .i_btn:hover,
.i_metro .i_purple .i_btn:hover{
    background-color: #d198ff;
    background-image: linear-gradient(to bottom, #d198ff, #d198ff);
}

.i_purple.i_metro .i_btn:active,
.i_purple .i_metro .i_btn:active,
.i_metro .i_purple .i_btn:active,
.i_purple.i_metro .i_btn.i_active,
.i_purple .i_metro .i_btn.i_active,
.i_metro .i_purple .i_btn.i_active{
    background: #6516a6;
}
.i_purple.i_metro .i_btn.i_disable,
.i_purple .i_metro .i_btn.i_disable,
.i_metro .i_purple .i_btn.i_disable{
    background-color: #d198ff;
    background-image: linear-gradient(to bottom, #d198ff, #d198ff);
}

.i_purple.i_metro .i_text,
.i_purple .i_metro .i_text,
.i_metro .i_purple .i_text{
    border: 2px solid #6516a6;
}
.i_purple.i_metro .i_text:focus,
.i_purple .i_metro .i_text:focus,
.i_metro .i_purple .i_text:focus{
    border: 2px solid #aa44ff;
}

.i_purple.i_metro .i_select,
.i_purple .i_metro .i_select,
.i_metro .i_purple .i_select{
    border: 2px solid #6516a6;
}


/*颜色定义 -- green*/
.i_green .i_btn{
    border: 1px solid #658c23;
}
.i_green .i_btn:hover,
.i_green .i_btn.i_active{
    background-color: #b0dd63;
    background-image: linear-gradient(to bottom, #b0dd63, #b0dd63);
}
.i_green .i_text{
    border: 1px solid #658c23;
}

.i_green .i_select{
    border: 1px solid #658c23;
}

.i_green.i_bootstrap .i_btn,
.i_green .i_bootstrap .i_btn,
.i_bootstrap .i_green .i_btn{
    background-color: #a0dd37;
    background-image: linear-gradient(to bottom, #ffffff, #a0dd37);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #a0dd37;
}
.i_green.i_bootstrap .i_btn:hover,
.i_green .i_bootstrap .i_btn:hover,
.i_bootstrap .i_green .i_btn:hover{
    background-image: linear-gradient(to bottom, #a0dd37, #a0dd37);
    transition: background-position 0.5s linear 0s;
}

.i_green.i_bootstrap .i_btn:active,
.i_green .i_bootstrap .i_btn:active,
.i_bootstrap .i_green .i_btn:active,
.i_green.i_bootstrap .i_btn.i_active,
.i_green .i_bootstrap .i_btn.i_active,
.i_bootstrap .i_green .i_btn.i_active{
    background-image: linear-gradient(to bottom, #77bb00, #a0dd37);
    transition: background-position 0.5s linear 0s;
}
.i_green.i_bootstrap .i_btn.i_disable,
.i_green .i_bootstrap .i_btn.i_disable,
.i_bootstrap .i_green .i_btn.i_disable{
    background-color: #b0dd63;
    background-image: linear-gradient(to bottom, #ffffff, #a0dd37);
    color: #909090;
}

.i_green.i_metro .i_btn,
.i_green .i_metro .i_btn,
.i_metro .i_green .i_btn{
    background-color: #77bb00;
    background-image: linear-gradient(to bottom, #77bb00, #77bb00);
    border: none;
}
.i_green.i_metro .i_btn:hover,
.i_green .i_metro .i_btn:hover,
.i_metro .i_green .i_btn:hover{
    background-color: #b0dd63;
    background-image: linear-gradient(to bottom, #b0dd63, #b0dd63);
}

.i_green.i_metro .i_btn:active,
.i_green .i_metro .i_btn:active,
.i_metro .i_green .i_btn:active,
.i_green.i_metro .i_btn.i_active,
.i_green .i_metro .i_btn.i_active,
.i_metro .i_green .i_btn.i_active{
    background: #4d7a00;
}
.i_green.i_metro .i_btn.i_disable,
.i_green .i_metro .i_btn.i_disable,
.i_metro .i_green .i_btn.i_disable{
    background-color: #b0dd63;
    background-image: linear-gradient(to bottom, #b0dd63, #b0dd63);
}

.i_green.i_metro .i_text,
.i_green .i_metro .i_text,
.i_metro .i_green .i_text{
    border: 2px solid #4d7a00;
}
.i_green.i_metro .i_text:focus,
.i_green .i_metro .i_text:focus,
.i_metro .i_green .i_text:focus{
    border: 2px solid #77bb00;
}

.i_green.i_metro .i_select,
.i_green .i_metro .i_select,
.i_metro .i_green .i_select{
    border: 2px solid #4d7a00;
}


/*颜色定义 -- red*/
.i_red .i_btn{
    border: 1px solid #a65050;
}
.i_red .i_btn:hover,
.i_red .i_btn.i_active{
    background-color: #ee9393;
    background-image: linear-gradient(to bottom, #ee9393, #ee9393);
}
.i_red .i_text{
    border: 1px solid #a65050;
}

.i_red .i_select{
    border: 1px solid #a65050;
}

.i_red.i_bootstrap .i_btn,
.i_red .i_bootstrap .i_btn,
.i_bootstrap .i_red .i_btn{
    background-color: #ee9393;
    background-image: linear-gradient(to bottom, #ffffff, #ee9393);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #ee9393;
}
.i_red.i_bootstrap .i_btn:hover,
.i_red .i_bootstrap .i_btn:hover,
.i_bootstrap .i_red .i_btn:hover{
    background-image: linear-gradient(to bottom, #ee9393, #ee9393);
    transition: background-position 0.5s linear 0s;
}

.i_red.i_bootstrap .i_btn:active,
.i_red .i_bootstrap .i_btn:active,
.i_bootstrap .i_red .i_btn:active,
.i_red.i_bootstrap .i_btn.i_active,
.i_red .i_bootstrap .i_btn.i_active,
.i_bootstrap .i_red .i_btn.i_active{
    background-image: linear-gradient(to bottom, #dd4444, #ee9393);
    transition: background-position 0.5s linear 0s;
}

.i_red.i_bootstrap .i_btn.i_disable,
.i_red .i_bootstrap .i_btn.i_disable,
.i_bootstrap .i_red .i_btn.i_disable{
    background-color: #ee9393;
    background-image: linear-gradient(to bottom, #ffffff, #ee9393);
    color: #909090;
}

.i_red.i_metro .i_btn,
.i_red .i_metro .i_btn,
.i_metro .i_red .i_btn{
    background-color: #dd4444;
    background-image: linear-gradient(to bottom, #dd4444, #dd4444);
    border: none;
}
.i_red.i_metro .i_btn:hover,
.i_red .i_metro .i_btn:hover,
.i_metro .i_red .i_btn:hover{
    background: #ee9393;
}

.i_red.i_metro .i_btn.i_active,
.i_red .i_metro .i_btn.i_active,
.i_metro .i_red .i_btn.i_active,
.i_red.i_metro .i_btn:active,
.i_red .i_metro .i_btn:active,
.i_metro .i_red .i_btn:active{
    background: #901616;
}

.i_red.i_metro .i_btn.i_disable,
.i_red .i_metro .i_btn.i_disable,
.i_metro .i_red .i_btn.i_disable{
    background-color: #ee9393;
    background-image: linear-gradient(to bottom, #ee9393, #ee9393);
}

.i_red.i_metro .i_text,
.i_red .i_metro .i_text,
.i_metro .i_red .i_text{
    border: 2px solid #901616;
}
.i_red.i_metro .i_text:focus,
.i_red .i_metro .i_text:focus,
.i_metro .i_red .i_text:focus{
    border: 2px solid #dd4444;
}

.i_red.i_metro .i_select,
.i_red .i_metro .i_select,
.i_metro .i_red .i_select{
    border: 2px solid #901616;
}


/*颜色定义 -- orange*/
.i_orange .i_btn{
    border: 1px solid #bb8d4b;
}
.i_orange .i_btn:hover,
.i_orange .i_btn.i_active{
    background-color: #fdce8d;
    background-image: linear-gradient(to bottom, #fdce8d, #fdce8d);
}
.i_orange .i_text{
    border: 1px solid #bb8d4b;
}

.i_orange .i_select{
    border: 1px solid #bb8d4b;
}

.i_orange.i_bootstrap .i_btn,
.i_orange .i_bootstrap .i_btn,
.i_bootstrap .i_orange .i_btn{
    background-color: #fdbe65;
    background-image: linear-gradient(to bottom, #ffffff, #fdbe65);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #fdbe65;
}
.i_orange.i_bootstrap .i_btn:hover,
.i_orange .i_bootstrap .i_btn:hover,
.i_bootstrap .i_orange .i_btn:hover{
    background-image: linear-gradient(to bottom, #fdbe65, #fdbe65);
    transition: background-position 0.5s linear 0s;
}

.i_orange.i_bootstrap .i_btn:active,
.i_orange .i_bootstrap .i_btn:active,
.i_bootstrap .i_orange .i_btn:active,
.i_orange.i_bootstrap .i_btn.i_active,
.i_orange .i_bootstrap .i_btn.i_active,
.i_bootstrap .i_orange .i_btn.i_active{
    background-image: linear-gradient(to bottom, #faa732, #fdbe65);
    transition: background-position 0.5s linear 0s;
}
.i_orange.i_bootstrap .i_btn.i_disable,
.i_orange .i_bootstrap .i_btn.i_disable,
.i_bootstrap .i_orange .i_btn.i_disable{
    background-color: #fdbe65;
    background-image: linear-gradient(to bottom, #ffffff, #fdbe65);
    color: #909090;
}

.i_orange.i_metro .i_btn,
.i_orange .i_metro .i_btn,
.i_metro .i_orange .i_btn{
    background-color: #faa732;
    background-image: linear-gradient(to bottom, #faa732, #faa732);
    border: none;
}
.i_orange.i_metro .i_btn:hover,
.i_orange .i_metro .i_btn:hover,
.i_metro .i_orange .i_btn:hover{
    background-color: #fdce8d;
    background-image: linear-gradient(to bottom, #fdce8d, #fdce8d);
}

.i_orange.i_metro .i_btn:active,
.i_orange .i_metro .i_btn:active,
.i_metro .i_orange .i_btn:active,
.i_orange.i_metro .i_btn.i_active,
.i_orange .i_metro .i_btn.i_active,
.i_metro .i_orange .i_btn.i_active{
    background: #a36610;
}
.i_orange.i_metro .i_btn.i_disable,
.i_orange .i_metro .i_btn.i_disable,
.i_metro .i_orange .i_btn.i_disable{
    background-color: #fdce8d;
    background-image: linear-gradient(to bottom, #fdce8d, #fdce8d);
}

.i_orange.i_metro .i_text,
.i_orange .i_metro .i_text,
.i_metro .i_orange .i_text{
    border: 2px solid #a36610;
}
.i_orange.i_metro .i_text:focus,
.i_orange .i_metro .i_text:focus,
.i_metro .i_orange .i_text:focus{
    border: 2px solid #faa732;
}

.i_orange.i_metro .i_select,
.i_orange .i_metro .i_select,
.i_metro .i_orange .i_select{
    border: 2px solid #a36610;
}