.i_colorPicker{
    border: 1px solid #ccc;
    padding: 3px;
}
.i_colorPicker:hover,
.i_colorPicker.sp-active{
    border: 1px solid #aaa;
}
.i_colorPicker .sp-dd{
    color: #777;
}
.i_colorPicker:hover .sp-dd,
.i_colorPicker.sp-active .sp-dd{
    color: #555;
}
.i_colorPicker .sp-preview{
    border: none;
}
.i_colorPicker_container .sp-cancel:hover{
    text-decoration: none;
}
.i_colorPicker_container .sp-dragger {
    background: rgba(255, 255, 255, .3);
}
.i_colorPicker_container{
    background-color: #fcfcfc;
    border-color: #26a9e3;
    border-bottom-width: 3px;
}
.i_colorPicker_container button {
    background-color: #f0f0f0;
    background-image: -webkit-linear-gradient(top, #f0f0f0, #ddd);
    background-image: -moz-linear-gradient(top, #f0f0f0, #ddd);
    background-image: -ms-linear-gradient(top, #f0f0f0, #ddd);
    background-image: -o-linear-gradient(top, #f0f0f0, #ddd);
    background-image: linear-gradient(to bottom, #f0f0f0, #ddd);
}
.i_colorPicker_container button:hover {
    background-color: #ddd;
    background-image: -webkit-linear-gradient(top, #eee, #ccc);
    background-image: -moz-linear-gradient(top, #eee, #ccc);
    background-image: -ms-linear-gradient(top, #eee, #ccc);
    background-image: -o-linear-gradient(top, #eee, #ccc);
    background-image: linear-gradient(to bottom, #eee, #ccc);
    border: 1px solid #ccc;
    border-bottom: 1px solid #aaa;
    text-shadow: 0 1px 0 #ccc;
}
.i_colorPicker_container button:active{
    outline: none;
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    -webkit-box-shadow: inset 0 0 5px 2px #ccc, 0 1px 0 0 #eee;
    -moz-box-shadow: inset 0 0 5px 2px #ccc, 0 1px 0 0 #eee;
    -ms-box-shadow: inset 0 0 5px 2px #ccc, 0 1px 0 0 #eee;
    -o-box-shadow: inset 0 0 5px 2px #ccc, 0 1px 0 0 #eee;
    box-shadow: inset 0 0 5px 2px #ccc, 0 1px 0 0 #eee;
}

.i_red.i_colorPicker_container{
    border-color: #dd4444;
}
.i_blue.i_colorPicker_container{
    border-color: #26a9e3;
}
.i_orange.i_colorPicker_container{
    border-color: #faa732;
}
.i_purple.i_colorPicker_container{
    border-color: #aa44ff;
}
.i_green.i_colorPicker_container{
    border-color: #77bb00;
}
.i_grey.i_colorPicker_container{
    border-color: #e6e6e6;
}

