[class^="icon-"],
[class^="icon-"]{
    width: 14px;
    height: 14px;
    margin-top: 1px;
    display: inline-block;
    line-height: 14px;
    vertical-align: text-top;
    background-repeat: no-repeat;
}
.icon-time {
    background-image: url("../img/datePicker/icons.png");
    background-position: -48px -24px
}

.icon-calendar {
    background-image: url("../img/datePicker/icons.png");
    background-position: -192px -120px
}
.icon-chevron-up {
    background-image: url("../img/datePicker/icons.png");
    background-position: -288px -120px
}

.icon-chevron-down {
    background-image: url("../img/datePicker/icons.png");
    background-position: -313px -119px
}

.i_datePicker_input input{
    width: 206px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: 0;
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.i_datePicker_input_icon{
    width: auto;
    min-width: 16px;
    height: 20px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    padding: 4px 5px;
    margin-left: -5px;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-align: center;
    vertical-align: top;
    text-shadow: 0 1px 0 #fff;
}

.i_datePicker {
    top: 0;
    left: 0;
    width: 250px;
    padding: 4px;
    margin-top: 1px;
    z-index: 3000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.i_datePicker:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left: 6px
}

.i_datePicker:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    top: -6px;
    left: 7px
}


.i_datePicker {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: #fff
}

.i_datePicker ul,
.i_datePicker ol {
    padding: 0;
    margin: 0 0 10px 25px
}
.i_datePicker table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0
}

.i_datePicker th,
.i_datePicker td {
    padding: 4px 5px
}

.i_datePicker.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box
}

.i_datePicker.dropdown-menu li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    white-space: nowrap
}

.i_datePicker.dropdown-menu li > a:hover{
    color: #fff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #08c, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #08c, #0077b3);
    background-image: -o-linear-gradient(top, #08c, #0077b3);
    background-image: linear-gradient(to bottom, #08c, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.i_datePicker .collapse {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .35s ease;
    -moz-transition: height .35s ease;
    -o-transition: height .35s ease;
    transition: height .35s ease
}

.i_datePicker .collapse.in {
    height: auto
}


.i_datePicker .btn {
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image: -o-linear-gradient(top, #fff, #e6e6e6);
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #bbb;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05)
}

.i_datePicker .btn:hover,
.i_datePicker .btn:active,
.i_datePicker .btn.active,
.i_datePicker .btn.disabled,
.i_datePicker .btn[disabled] {
    color: #333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9
}

.i_datePicker .btn:hover {
    color: #333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear
}

.i_datePicker .btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.i_datePicker .btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)
}

.i_datePicker .btn {
    border-color: #c5c5c5;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25)
}

.i_datePicker .hide {
    display: none
}

.i_datePicker .show {
    display: block
}

.clearfix {
    *zoom: 1
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0
}

.clearfix:after {
    clear: both
}

.i_datePicker.pull-right:before {
    left: auto;
    right: 6px
}

.i_datePicker.pull-right:after {
    left: auto;
    right: 7px
}

.i_datePicker > ul {
    list-style-type: none;
    margin: 0
}

.i_datePicker .timepicker-hour, .i_datePicker .timepicker-minute, .i_datePicker .timepicker-second {
    width: 100%;
    font-weight: bold;
    font-size: 1.2em
}

.i_datePicker table[data-hour-format="12"] .separator {
    width: 4px;
    padding: 0;
    margin: 0
}

.i_datePicker .datepicker > div {
    display: none
}

.i_datePicker .picker-switch {
    text-align: center
}

.i_datePicker table {
    width: 100%;
    margin: 0
}

.i_datePicker td, .i_datePicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.i_datePicker td.day:hover, .i_datePicker td.hour:hover, .i_datePicker td.minute:hover, .i_datePicker td.second:hover {
    background: #eee;
    cursor: pointer
}

.i_datePicker td.old, .i_datePicker td.new {
    color: #999
}

.i_datePicker td.active, .i_datePicker td.active:hover {
    color: #fff;
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #08c, #04c);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
    background-image: -webkit-linear-gradient(top, #08c, #04c);
    background-image: -o-linear-gradient(top, #08c, #04c);
    background-image: linear-gradient(to bottom, #08c, #04c);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    border-color: #04c #04c #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #04c;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
}

.i_datePicker td.active:hover, .i_datePicker td.active:hover:hover, .i_datePicker td.active:active, .i_datePicker td.active:hover:active, .i_datePicker td.active.active, .i_datePicker td.active:hover.active, .i_datePicker td.active.disabled, .i_datePicker td.active:hover.disabled, .i_datePicker td.active[disabled], .i_datePicker td.active:hover[disabled] {
    color: #fff;
    background-color: #04c;
    *background-color: #003bb3
}

.i_datePicker td.active:active, .i_datePicker td.active:hover:active, .i_datePicker td.active.active, .i_datePicker td.active:hover.active {
    background-color: #039;
}

.i_datePicker td.disabled, .i_datePicker td.disabled:hover {
    background: 0;
    color: #999;
    cursor: not-allowed
}

.i_datePicker td span {
    display: block;
    width: 52px;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 2px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.i_datePicker td span:hover {
    background: #eee;
}

.i_datePicker td span.active {
    color: #fff;
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #08c, #04c);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
    background-image: -webkit-linear-gradient(top, #08c, #04c);
    background-image: -o-linear-gradient(top, #08c, #04c);
    background-image: linear-gradient(to bottom, #08c, #04c);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    border-color: #04c #04c #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #04c;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.i_datePicker td span.active:hover, .i_datePicker td span.active:active, .i_datePicker td span.active.active, .i_datePicker td span.active.disabled, .i_datePicker td span.active[disabled] {
    color: #fff;
    background-color: #04c;
    *background-color: #003bb3
}

.i_datePicker td span.active:active, .i_datePicker td span.active.active {
    background-color: #039 \9
}

.i_datePicker td span.old {
    color: #999
}

.i_datePicker td span.disabled, .i_datePicker td span.disabled:hover {
    background: 0;
    color: #999;
    cursor: not-allowed
}

.i_datePicker th.switch {
    width: 145px
}

.i_datePicker th.next, .i_datePicker th.prev {
    font-size: 21px
}

.i_datePicker th.disabled, .i_datePicker th.disabled:hover {
    background: 0;
    color: #999;
    cursor: not-allowed
}

.i_datePicker thead tr:first-child th {
    cursor: pointer
}

.i_datePicker thead tr:first-child th:hover {
    background: #eee
}

.input-append.date .add-on i, .input-prepend.date .add-on i {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px
}

.i_datePicker.left-oriented:before {
    left: auto;
    right: 6px
}

.i_datePicker.left-oriented:after {
    left: auto;
    right: 7px
}
